# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# TypeScript
dist/
build/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE / Editors
.idea/
.vscode/
.shelf/
workspace.xml

# Test / Coverage
coverage/
*.lcov

# Database dumps / temp
*.sql
*.sqlite
*.db
